body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #392467;
}

.logo {
  width: 75px; 
  height: 75px; 
  overflow: hidden;
  color: white;
}

.contact {
  display: flex;
  align-items: center;
}

.contact-button {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.landing {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tile {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: white; /* Changed from gray to white */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for shadow and transform */
}

.tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Larger shadow on hover */
  transform: translateY(-5px); /* Slight lift effect on hover */
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s, opacity 0.5s, box-shadow 0.5s; /* Added box-shadow transition */
}

.front {
  background-color: white;
  box-shadow: #4CAF50;
  shape-margin: 5px black;
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  background-color: #ba80fc46;
  transform: rotateY(180deg);
  opacity: 0;
}

.tile:hover .front {
  transform: rotateY(-180deg);
  opacity: 0;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4); /* Change shadow on hover */
}

.tile:hover .back {
  transform: rotateY(0deg);
  opacity: 1;
}


.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.tiles-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center tiles horizontally */
  flex-wrap: wrap; /* Wrap tiles to the next line if needed */
  gap: 20px; /* Optional: Adds space between tiles */
}

.projects-container {
  background-color: white;
  padding: 20px;
}

.project-categories {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 0;
}

.category-button {
  background-color: white;
  color: #333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-bottom: 3px solid transparent; /* For equal height of unselected buttons */
}

.category-button:hover,
.category-button.active {
  border-bottom: 3px solid black;
}

.project-list {
  background-color: #A57BFB; /* Green background for project items */
  color: white;
  padding: 20px;
  min-height: 300px;
}

.project-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid white;
}

.project-item .project-title {
  margin: 0;
}

.project-details {
  max-height: 0; /* Start with max-height 0 to ensure it's hidden */
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 20px; /* Adjust padding as needed */
}

.expanded .project-details {
  max-height: 150px; /* Set a max-height that will accommodate the content */
  padding: 10px 20px; /* Restore padding when expanded */
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.expanded .arrow {
  transform: rotate(90deg); /* Rotates the arrow to point downwards */
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rounded-square {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.about-me-text {
  max-width: 400px;
}

@media screen and (max-width: 768px) {
  #gray-section {
    flex-direction: column;
    text-align: center; /* Center content for small screens */
  }

  #text-half, #photo-half {
    width: 100%;
  }

  #photo {
    margin-top: 20px;
    max-width: 80%; /* Adjust photo size for small screens */
    margin-left: auto; /* Center the image */
    margin-right: auto;
  }
}